<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mimimimetr</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <form action="/upload">
                    <button>Загрузите своего котика</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/top">
                    <button>Топ самых милых</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/vote">
                    <button>Голосование</button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>